
.wrap-form-login {
  width: 600px;
  margin-top: 20px;
  padding-top: 50px;
}
.wrap-form-login .alert-light {
  visibility: hidden;
}
.form-login { 
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
}
.form-login-title {
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  .wrap-form-login {
    width: 100%;
  }
}