.friendInfo {
  position: relative;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.friendInfo-wrap-info {
  font-size: 20px;
  color: #90949c;
  line-height: 18px;
  height: 100%;
  width: 50%;
}
.friendInfo-wrap-img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

}
.friendInfo-wrap-img > img {
  height: auto;
  max-width: 90%;
  object-fit: cover;
  overflow: hidden;
}
.friendInfo-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px 0px;
  color: #4AB3F4;
}
.friendInfo-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.5);
  overflow-wrap: break-word;
}
.friendInfo-detail .detail-value {
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  width: 60%;
}
@media screen and (max-width: 600px) {
  .friendInfo-wrap-info {
    font-size: 11px;
  }
  .friendInfo {
    position: relative;
  }
  .btn-message {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
}