.person-view-full {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.person-view-full-wrap-info {
  height: 100%;
  width: 50%;
}
.person-view-full-wrap-img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

}
.person-view-full-wrap-img > img {
  height: auto;
  width: 90%;
  max-width: 300px;
  object-fit: cover;
  overflow: hidden;
}

