.person-view {
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.person-view-wrap-img >a> img {
  height: 32px;
  width: 32px;
  border-radius: 32rem;
  object-fit: cover;
}
@media screen and (min-width: 1000px) {
  .person-view-wrap-img >a> img {
    height: 40px;
    width: 40px;
  }
}
.person-view .person-view-wrap-content {
  padding: 0px;
  height: 100%;
  margin-left: 10px;
  width: 100%;
}
.person-view-name, .person-view-status {
  display: block;
  height: auto;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}
.person-view-status {
  font-style: italic;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.4);
}
.person-view-name {
  color: #365899;
}
.person-view-wrap-message > button {
  width: 100%;
  padding: 5px;
  text-decoration: none;
  border: 0.5px solid #28a745;
  font-size: 11px;
  padding: 2px 3px;
  color: #28a745 !important;
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  transition: all 0.5 ease-in;
}
.person-view-wrap-message > button:active {
  box-shadow: 0 0 0 0.1rem rgba(40,167,69,.5);
}
.person-view-wrap-message > button:hover {
  color: #fff !important;
  background-color: #28a745;
  transition: all 0.5 ease-in;
}