.facebookButton {
  height: 28px;
  width: 200px;
  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  font-size: 1em;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
