.navbar-light .navbar-brand {
  letter-spacing: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-light .navbar-brand::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}
.navbar-light .navbar-brand:hover::after {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  cursor: pointer;
}
.nav-item-profile :hover {
  color: rgba(0, 0, 0, .5) !important;
  background-color: #E4F0F6;
}
.nav-item-status:hover {
  background-color: transparent;
}
.nav-item-status {
  font-size: 0.9rem;
  font-style: italic;
  display: block;
}
.nav-item-name {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, .5);
}
.nav-item-dropdown {
  font-size: 1.5rem;
  position: relative;
  margin-top: 3px;
}

.nav-item-dropdown .dropdown-menu {
  padding: 0px;
  min-width: 10rem;
  position: absolute;
  width: 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.dropdown-toggle::after {
  vertical-align: 0;
}
@media only screen and (min-width: 1000px) {
  .nav-item-dropdown .dropdown-menu {
    left: -150px;
  }
}
